# Ignorar pastas de dados
data/
datasets_ons/
output_brazil_grid/

# Ignorar arquivos de dados
*.csv
*.parquet

# Ignorar notebooks grandes ou temporários
*.ipynb_checkpoints/
pipeline_dados.ipynb

# Ignorar arquivos compactados
*.zip

# Ignorar arquivos temporários
*.log
*.tmp
